<section class="section-padding">
<div class="container ">
    <div class="row">
        <div class="pb-5">
            <h2 class="who">
              من

            <span class="headingp2">نحن</span>
            </h2>

           </div>


<div class="col-lg-7">
    <div>
        <h3>بداية</h3>
        <h2 class="trip">رحلتنا</h2>

        <div>
            <p class="info">
                منذ أن اكتشفنا النفط لأول مرة في سبيندلتوب، تكساس، الولايات المتحدة الأمريكية في عام 1912، وضعنا قلوبنا وأرواحنا في بناء علامة تجارية لها إرث يستحق التذكر. نحن نضع كل ما لدينا في منتجاتنا، لضمان أن تصبح العلامة التجارية الخليجية مرادفة للجودة التي يمكنك الوثوق بها. لقد بنينا شراكات صمدت أمام اختبار الزمن، مما جعل جلف عنصرًا أساسيًا في الثقافة والأداء، وقد فعلنا كل ذلك مع وضع عملائنا الفخورين في الاعتبار، مما سمح لنا بالوصول إلى ملايين العملاء حول العالم.
            </p>
        </div>
    </div>
</div>
<div class="col-lg-5">
    <div class="h-100 w-100">
        <img src="assets/images/about1/about-section1/gulf.png" style="width: 640px !important;
height: 400px !important;" alt="image" />
    </div>
</div>

<div class="row py-5 ">
    <div class="     p-0">
        <p class="info   ">
            نحن نعلم أكثر من أي شخص آخر أن النجاح لا يأتي بالصدفة، بل هو نتاج لشغفنا والتزامنا الذي لا يتزعزع. إنه جوهر علاقاتنا مع عملائنا وشركائنا، والبلدان التي نعمل فيها، والمجتمعات التي نخدمها.
        </p>
    </div>

    <div class=" p-0">
        <p class="info ">
            واليوم، تواصل جلف هذا الإرث من الابتكار من خلال التحسين المستمر وتوسيع عروض منتجاتنا لمواكبة التقدم التكنولوجي في الأسواق التي نخدمها.
        </p>
    </div>
</div>


    </div>
</div>
</section>
