<div class="sec1">
  <div class="container">
      <div class="row">
          <div class="col-md-9">
              <div class="text">
                  <h1>حمل تطبيق</h1>
                  <p>استمتع بأفضل الخدمات والخصومات</p>
              </div>
          </div>
          <div class="col-md-3">
              <div class="image">
                  <img src="assets/images/app/mob1.png" alt="image">
              </div>
          </div>
      </div>
  </div>
  <div class="container-fluid">
      <div class="team">
          <div class="my-container">
              <img class="logo-2" src="assets/images/about-us4/61a0ec062b6c48e0f243a2f0e1025323.png" alt="image" />
              <div class="sec2">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="text2">
                              <h1>حمل تطبيق</h1>
                              <p>استمتع بأفضل الخدمات والخصومات</p>
                              <img src="assets/images/app/qr.png" alt="image">
                              <img src="assets/images/app/qr.png" alt="image">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="image2">
                              <img src="assets/images/app/mob1.png" alt="image">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="image2">
                              <img src="assets/images/app/mob1.png" alt="image">
                          </div>
                      </div>
                  </div>
                  <div class="download">
                      <img src="assets/images/app/google.png" alt="image">
                      <img src="assets/images/app/appstor.jpg" alt="image">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
