<section class="">
  <img src="assets/images/video/homeVideo.gif" alt="home video" style="width: 100%; height: 766px; gap: 0px; opacity: 0px;" />

  <div class="layer">
    <div class="container">
      <div class="d-flex align-items-center">
        <div class="info mt-5 pt-5">
          <div>
            <h2 class="heading">{{ 'home.goals' | translate }}</h2>
          </div>

          <div>
            <p class="text">{{ 'home.goals2' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
