.image
{
    width: 640px !important;
height: 400px !important;
gap: 0px;
border-radius: 8px;
opacity: 0px;
}
h3
{
font-family: Inter;
font-size: 36px;
font-weight: 700;
line-height: 44px;
letter-spacing: -0.02em;
color: var(--main-text-color-blue);

}
h2
{
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 60px;
letter-spacing: -0.02em;
color: var(--main-text-color-orange);

}

.team .my-container {
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08);


    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
  }
  .my-container .logo-2 {
    position: absolute;
    top: 0;
    right: 0;
    /* transform: rotateY(180deg); */
    /* -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg); */
    width: 100px;
    height: 100px;
  }
p
{
font-family: Inter;
font-size: 30px;
font-weight: 500;
line-height: 38px;

}
.btn-more
{
    width: 176px;
height: 48px;
padding: 12px 20px 12px 20px;
gap: 8px;
border-radius: 8px ;
border: 1px solid transparent;
opacity: 0px;
background-color: var(--main-text-color-orange);
color: #fff;

}


.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    bottom: 10px;
    left: 166px;
    right: auto;
}
