

    <div class="one"> </div>

<div class="container">
    <div class="two">

        <img class="img-logo" src="image/61a0ec062b6c48e0f243a2f0e1025323.png" alt="">



        <form>
<div class="row " *ngIf="!ifSuccess">
<form [formGroup]="joinUs" (ngSubmit)="sendChance()" >
  <div class="col-md-12">
    <div class="top-two">
        <h2>
            <span class="span-three-one">انضم

            </span>

            <span class="span-three-one">إلى

            </span>
            <span class="span-three-three">فريق

            </span>
            <span class="span-three-three">قلف

            </span>
        </h2>
<p> نحن نحب أن نسمع منك . يرجى ملء هذا النموذج </p>
    </div>


  <div class="col-md-12 p-0    ">
    <div class="row w-100 p-0 m-0">
      <div class="col-md-6 p-0">
        <div style="    padding: 0px 10px;" class="row-one">
    <label> الاسم الأول</label>

    <input type="text"  formControlName="first_name" placeholder="الاسم الأول" >
    <div class="alert alert-danger" *ngIf="joinUs.get('first_name')?.errors && joinUs.get('first_name')?.touched">
      <p *ngIf="joinUs.get('first_name')?.getError('required')">الاسم الاول مطلوب</p>
  </div>
    </div>
    </div>
    <div class="col-md-6 p-0">
        <div class="row-one pe-1">
    <label > الاسم االأخير</label>

    <input type="text" formControlName="last_name" placeholder="الاسم الأخير" >

    <div class="alert alert-danger" *ngIf="joinUs.get('last_name')?.errors && joinUs.get('last_name')?.touched">
      <p *ngIf="joinUs.get('last_name')?.getError('required')">الاسم الاخير مطلوب</p>
  </div>
    </div>
    </div>
    </div>
  </div>

</div>



<div class="col-md-12">
<div class="row-two">
<label> بريدك الالكتروني</label>
</div>
</div>
<div class="col-md-12">
<div class="row-two">
<input type="email"  formControlName="email" placeholder="ادخل بريدك الالكتروني" >
<div class="alert alert-danger" *ngIf="joinUs.get('email')?.errors && joinUs.get('email')?.touched">
  <p *ngIf="joinUs.get('email')?.getError('required')">البريد الالكتروني مطلوب</p>
</div>
</div>
</div>


<div class="col-md-12">
<div class="row-four">
<label> رقم الهاتف</label>
</div>
</div>



<div class="col-md-12">
<div class="row-four">

<div class="select-number p-0">
  <div class="btn-group" >
    <button class="btn  mb-2  dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
     <img src="{{selectedFlag}}" class=" image" alt="Country Flag"/>

    </button>
    <ul class="dropdown-menu  overflow-scroll" style="max-height: 200px !important; width: 300px;">

      <input type="search" class="form-control" placeholder="ابحث عن الدولة" [(ngModel)]="searchValue" style="cursor: auto;">
      <li  *ngFor="let Country of countries|search:searchValue ; let i = index" class="mb-2 " style="cursor: pointer;" (click)="selectedCountryFlagAndCode(i)">
        <div class="d-flex justify-content-evenly p-3">
          <div class="w-25">
            {{Country.idd.root}}{{Country.idd.suffixes}}
          </div>

          <div class="w-50">
            {{ Country.name.common}}

          </div>
          <div class="w-25">
            <img src="{{Country.flags.png}}" class="w-25" alt="Country Flag"/>
          </div>

        </div>


      </li>

    </ul>
  </div>

<input value="{{selectedCode}}" class="select-tel p-1 " dir="ltr" type="text" formControlName="phone" placeholder="{{placeholderValue}}" >

</div>

</div>

<div class="alert alert-danger " *ngIf="joinUs.get('phone')?.errors && joinUs.get('phone')?.touched">
  <p *ngIf="joinUs.get('phone')?.getError('required')">رقم الهاتف مطلوب</p>
  <p *ngIf="joinUs.get('phone')?.hasError('pattern')">الرقم غير صحيح</p>

</div>
</div>





<div class="col-md-12">
<div class="row-five">
<label>رسالتك (اختياري) </label>
</div>
</div>
<div class="col-md-12">
<div class="row-five">
   <input type="text" formControlName="message" name="letter">
</div>
</div>

<div class="col-md-12">
<div class="row-six">


  <i class="fa-solid fa-cloud-arrow-up"></i>
  <input #fileInput type="file" formControlName="images" (change)="onFileSelected($event)" accept=".svg,.png,.jpg,.gif" multiple  hidden>
  <div class="text-six">
    <span>or drag and drop</span>
    <button type="button" (click)="fileInput.click()">Click to upload</button><br>
    <span>SVG, PNG, JPG, or GIF</span>
  </div>
  <div class="alert alert-danger" *ngIf="joinUs.get('images')?.errors && joinUs.get('images')?.touched">
    <p *ngIf="joinUs.get('images')?.getError('required')">من فضلك ادخل على الاقل صورة</p>
</div>

</div>

<div *ngFor="let file of uploadedFiles; let i = index" class="col-md-12">
<div class="row row-seven ">
  <div class="col-md-1" (click)="deleteFile(i)">
  <i  *ngIf="show"  style="    margin-right: 18px;" class="fa-solid fa-trash"></i>
  <i  *ngIf="show" style="    margin-right: 20px;" class="fa-solid fa-circle-check"></i>
</div>

<div class="col-md-10">
  <h4>{{ file.name }}</h4>
  <div class="flex-line">
    <div class="loader" *ngIf="file.uploading">
      <div class="spinner"></div>
    </div>
    <h6 *ngIf="!file.uploading">{{ file.progress }}%</h6>
    <div class="line-seven" [style.width.%]="file.progress" *ngIf="!file.uploading"></div>
  </div>
</div>
<div class="col-md-1">
  <i class="fa-regular fa-file"></i>
</div>
</div>
</div>
</div>


<div class="col-md-12">
<div class="col-end">
<button type="submit" > Submit</button>
</div>
</div>
</form>





</div>







<div class="alert alert-success text-center" *ngIf="ifSuccess && !anotherReq">
  <p>
    Your Request Send Successfully
  </p>

  <div class=" d-flex justify-content-evenly" >
    <button type="button" class="btn btn-info" (click)="sendAnother()">Send Another Request</button>
  <a routerLink="/home" class="btn btn-primary">Back Home</a>
  </div>

</div>
