<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
<div class="d-flex justify-content-evenly w-100">
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input type="search" class="form-control mx-2">

    <a class="navbar-brand  d-flex justify-content-center align-items-center logo d-flex align-items-center" >
      <img src="assets/images/navbar/logo.png" class="w-100" alt="logo"/>
    </a>

</div>

<div class="offcanvas offcanvas-end p-3  "  tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class=" d-flex justify-content-between align-items-start">

<ul class="navbar-nav me-auto mb-2 mb-lg-0  links w-100 py-2 ">
<li class="nav-item " routerLinkActive="linkActive">
  <a class="nav-link active" aria-current="page" routerLink="/home">الرئيسية</a>
</li>
<li class="nav-item dropdown" routerLinkActive="linkActive">
  <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false" >
    من نحن
  </a>
  <ul class="dropdown-menu text-Align">
    <li><a class="dropdown-item" routerLink="whoWeAre">من نحن </a></li>
    <li><a class="dropdown-item" routerLink="whoWeAre2">من نحن 2</a></li>
    <li><a class="dropdown-item" routerLink="whoWeAre3">من نحن3</a></li>
    <li><a class="dropdown-item" routerLink="whoWeAre4">من نحن 4</a></li>
  </ul>

</li>
<li class="nav-item dropdown" routerLinkActive="linkActive">
  <a routerLink="/location" class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
    خدماتنا
  </a>
  <ul class="dropdown-menu text-Align">

  </ul>
</li>

<li class="nav-item" routerLinkActive="linkActive">
  <a class="nav-link" routerLink="/mediaCenter">المركز الاعلامي</a>
</li>

<li class="nav-item" routerLinkActive="linkActive">
  <a class="nav-link" routerLink="/Commercial">الامتياز التجاري</a>
</li>

<li class="nav-item" routerLinkActive="linkActive">
  <a class="nav-link" routerLink="investmentOpportunities">فرص استثمارية</a>
</li>

<li class="nav-item" routerLinkActive="linkActive">
  <a class="nav-link" >تطبيق قلف</a>
</li>

</ul>
<div class="py-3">
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>

</div>
</div>


  <div class="my-2">
    <h6>ابقى معنا</h6>
    <div>
      <div class="d-flex justify-content-start align-items-center">
        <div class="storesLogo ">
          <img src="assets/images/footer/app-store.png"  class="w-100 "  alt="image">

        </div>

        <div class="storesLogo rounded">
          <img src="assets/images/footer/play-store-logo-nisi-filters-australia-11.png" class="w-100 imageCustomize"    alt="image">
        </div>
      </div>

    </div>


  </div>

  <div class="w-100 ">
    <ul class=" navbar-nav  ulDirection  links">
      <li class="nav-item" routerLinkActive="linkActive">
          <a routerLink="/join-us" class="nav-link">التوظيف</a>
      </li>

      <li class="nav-item" routerLinkActive="linkActive">
          <a class="nav-link" routerLink="/contact-us">تواصل معنا</a>
      </li>

      <li class="nav-item" routerLinkActive="linkActive">
          <a class="nav-link">AR</a>
      </li>


    </ul>
  </div>

  <div class="icons my-3  w-25 d-flex justify-content-between column-reverse">
    <span class="icon">
        <i class="fa-brands fa-x-twitter"></i>

    </span>
    <span class="icon">
        <i class="fa-brands fa-linkedin"></i>
    </span>
    <span class="icon">
        <i class="fa-brands fa-instagram"></i>
    </span>

    <span class="icon">

        <i class="fa-brands fa-facebook"></i>
    </span>

    <span class="icon">

        <i class="fa-brands fa-youtube"></i>
    </span>
</div>

</div>




  </div>
</nav>
