<section class=" section-padding">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-5">
                <div class="h-100 w-100">
                    <img src="assets/images/about1/about-section3/b39cc1dcd628eaf7c3cc03e903108d3f.png" class="w-100 image" alt="image" />
                </div>
            </div>
            <div class="col-lg-7">
    <div>
        <h3>التزامنا</h3>
        <h2 class="trip">لك</h2>

        <div>
            <p class="info">
                كل منتج قمنا بإنتاجه، والشراكة التي بنيناها والالتزام الذي تمسكنا به، تم أخذها بعين الاعتبار مع عملائنا. هدفنا هو دفع التحول والحلول من خلال تراثنا وقيمنا الفريدة، وبذل جهد إضافي لضمان أن فخرك وثقتك في الخليج لن تتزعزع أبدًا. أنتم أولويتنا وهذا شيء لن يتغير أبدًا.            </p>
       
       <span class="more">
        تعرف على المزيد حول
         <span class="names">
            فريق القيادة في شركة قلف للنفط
         </span> 
         و
         <span class="names">تاريخنا</span> 
         
         و
         <span class="names">ثقافتنا</span> 

         
          و
         <span class="names">قيمنا</span> 

          
           و
         <span class="names">شراكاتنا.</span> 
           
           
       </span>
            </div>
    </div>
            </div>



            <div class="col-lg-7">
                <div>
                    <h3>مجموعة</h3>
                    <h2 class="trip">هندوجا</h2>
            
                    <div>
                        <p class="info">
                            تعد جلف جزءًا من مجموعة هندوجا، وهي واحدة من أكبر مجموعات الأعمال وأكثرها تنوعًا في العالم. مجموعة هندوجا هي شركة عائلية تعمل منذ عام 1914، ونمت لتصبح شركة رائدة عالميًا في مجال السيارات والرعاية الصحية والخدمات المصرفية والمالية والنفط والغاز ومجموعة متنوعة من الصناعات الأخرى، مع قوة عاملة تتجاوز طاقتها العاملة. 200.000 موظف قوي.
                      </p>

                      <p class="info">
                        استحوذت مجموعة هندوجا على شركة جلف أويل إنترناشيونال المحدودة في عام 1984، وقد انتقلنا من قوة إلى قوة تحت قيادتها، مما عزز تراث الخليج وتراثها مع تمهيد طريق مبتكر نحو المستقبل.
                    </p>
                        </div>


                        <div>
                            <a class="btn btn-details">
                                نبذة عن مجموعة هندوجا
                            </a>
                        </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="h-100 w-100">
                    <img src="assets/images/about1/about-section3/hinduja.png" class="w-100 h-100" alt="image" />
                </div>
            </div>

        </div>
    </div>
</section>