<section class="section-padding ">



    <div class="container">
        <div class="pb-3">
            <h2 class="heading">
                تاريخنا
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div>
                    <h3>
                        قرن من
                    </h3>
                    <h2 class="heading2">
                        الزمان في طور التكوين
                    </h2>

                    <div>
                        <p class="info">

                          {{datasetting?.home_about_history_description}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div>
                    <img [src]="datasetting?.home_about_history_image_path" class="w-100" style="height: 400px !important;" alt="image">
                </div>
            </div>

        </div>


        <div class="py-4 position-relative">
            <img src="assets/images/about2/gulf-enters.png" class="w-100" style="height: 512px;" alt="image">

            <div class="layer">
                <span class="playVideo">
                    <i class="fa-solid fa-play fs-3"></i>
                </span>
            </div>
        </div>
    </div>
</section>
