.image
{
    height: 474px !important;
}

.heading
{
font-family: Inter;
font-size: 72px;
font-weight: 700;
line-height: 90px;
letter-spacing: -0.02em;
text-align: center;
color: var(--main-text-color-blue);
}
h3
{
font-family: Inter;
font-size: 36px;
font-weight: 700;
line-height: 44px;
letter-spacing: -0.02em;
color: var(--main-text-color-blue);
}

.heading2
{
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 60px;
letter-spacing: -0.02em;
color: var(--main-text-color-orange);
}
.info
{
font-family: Inter;
font-size: 30px;
font-weight: 500;
line-height: 38px;
text-align: right;

}

.layer
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.playVideo
{
    width: 88px;
height: 88px;
gap: 0px;
opacity: 0.05px;
background-color:rgb(162, 161, 146) ;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;


}
.section-padding
{
    padding: 64px;
    padding-bottom:0px ;
    padding-top: 0px;
}


@media screen and (max-width:767px)
{

    .test1
    {
        width: fit-content !important;
    }
    .test2
    {
        width: 75% !important;
    }

    img
    {
        height: 200px !important;
    }

    .info{
        font-family: Inter;
        font-size: 16px !important;
        font-weight: 500;
        line-height: 38px;
        text-align: right;
    }

}

@media screen and (min-width:500px) and (max-width:750px) {

  p {
    font-size: 14px !important;
    width: 115% !important;
}
}
