.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* semi-transparent white */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* ensure it's above the map */
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.spaceBetweensections
{
  margin-top:    128px;
  margin-bottom: 128px;
}
h2
{
  font-family: Inter;
font-size: 72px;
font-weight: 700;
line-height: 90px;
letter-spacing: -0.02em;
text-align: center;
color: var(--main-text-color-blue);


}

.info
{
font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 28px;
text-align: center;
width: 40%;

}

.headingp2
{
  color: var(--main-text-color-orange);
}

.team .my-container {
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}
.my-container .logo-2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  width: 100px;
  height: 100px;
}


.controls {
  position: absolute;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 5;
  background-color: white;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}


.box{
  background-color: rgba(0, 39, 118, 1);
  width: fit-content;
  padding: 30px 30px;
  text-align: right;
  color: white;
  border-radius:10px;
  position: absolute;
  top:  50%;
  right: 30px;
  transform: translateY(-20%);
  z-index: 500;
}
.box .lab1{
  margin: 10px 0px;
}
.box .lab1 .box1{
  width: 200px;
  border-radius: 5px;
}
.box .btn3{
  padding: 5px 83px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  color:white;
  background-color: rgb(255, 102, 0);
}
.mapBoxShadow{
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08) !important;

}
.marker-content {
  width: 64px;
  height: 56px;
  padding: 8px 12px;
  gap: 0px;
  border-radius: 8px 0px 0px 0px;
  opacity: 1; /* Adjust as needed */
  background: rgba(0, 39, 118, 1);
  position: relative; /* Needed for the absolute positioning of ::before */
}

.marker-content::before {
  content: '';
  position: absolute; /* Ensure it is positioned relative to .marker-content */
  bottom: -10px; /* Adjust to position the triangle correctly */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0, 39, 118, 1); /* Color of the triangle */
}

.marker-content img {
  width: 100%;
  height: 100%;
  display: block; /* Ensures no extra space around the image */
}




@media screen and (min-width:452px) and (max-width:700px){
  .box{
      background-color: rgba(0, 39, 118, 1);
      width: fit-content;
      padding: 10px 60px;
      text-align: right;
      color: white;
      border-radius:10px;
      position: relative;
      top: 40px;
      right: 90px;

  }
  .box .lab1{
      margin: 5px 0px;
  }
  .box .lab1 .box1{
      width: 180px;
      border-radius: 5px;
  }
  .box .btn3{
      padding: 5px 75px;
      border: none;
      border-radius: 5px;
      margin-top: 10px;
      color: white;
      background-color: rgb(255, 102, 0);
}
}

@media (max-width:400px) {
  .box
  {
      background-color: rgba(0, 39, 118, 1);
      width: fit-content;
      padding: 10px 45px;
      text-align: right;
      color: white;
      border-radius:10px;
      position: relative;
      top: 40px;
      right: 28px;

  }

}
