<section class="spaceBetweensections">

  <div class="container">
    <div class="team">
      <div class="my-container p-3">
      <img class="logo-2" src="assets/images/main-bg/right.png" alt="image" />
      <div class="row">
        <div >
            <h2>
              اماكن

            <span class="headingp2">تواجدنا</span>
            </h2>
          <div class="d-flex justify-content-center align-items-center">
            <p class="info">تقديم باقة من الخدمات المتكاملة لقائدي المركبات والمسافرين داخل وخارج المدن وفق أعلى المعايير المحلية والدولية بما يضمن رضى العملاء ويؤكد على القيمة المضافة,</p>

          </div>
           </div>



           <div class="two">
            <div class="row">

              <div class="box">
                <h5>محطات الوقود</h5>
                <div class="lab1">
                  <label for="">المنطقة</label><br>
                  <select class="box1 form-control" [(ngModel)]="selectedAreaId" (change)="onAreaChange()" >
                    <option *ngFor="let areaitem of area" [value]="areaitem.id">{{areaitem.name}}</option>
                  </select>
                </div>
                <div class="lab1">
                  <label for="">الموقع</label><br>
                  <select class="box1 form-control" [(ngModel)]="selectedLocationId" (change)="getLatAndLang($event)">
                    <option *ngFor="let item of locationsArea" [value]="item.lat + ',' + item.lng" >{{item.name}}</option>
                  </select>
                </div>
                <button class="btn3" (click)="search()">بحث</button>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center ">
            <div *ngIf="isLoading" class="loader-overlay">
              <div class="loaderMap"></div>
            </div>
            <input id="search-box" class="controls" type="text" placeholder="Search for places">
            <div id="map" class="test" style="height: 600px; width: 90%; position: relative;">

            </div>
          </div>


          </div>
      </div>
    </div>

  </div>
</section>
