<nav id="nav2" class="navbar navbar-expand-lg bg-body-tertiary navb-desktop fixed-top">
  <div class="container-fluid p-0">
    <div class="w-100">
      <div class="w-100 px-5 extra-links">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-end align-items-center " >
          <li class="nav-item">
            <a class="nav-link" routerLink="/join-uss" routerLinkActive="linkActive">التوظيف</a>
          </li>
          <li style="padding: 0px 20px;" class="nav-item" >
            <a class="nav-link" routerLink="/contact-us" routerLinkActive="linkActive">تواصل معنا</a>
          </li>
          <div class="d-flex searchDiv justify-content-center align-items-center" role="search">
            <div class="search">
                <input class="form-control" type="text" dir="rtl" placeholder="بحث">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
          <li class="nav-item" routerLinkActive="linkActive">
            <!-- <a class="nav-link">AR</a> -->
             <app-translate></app-translate>
          </li>
        </ul>
      </div>
      <div class="w-100 d-flex align-items-center">
        <a   routerLink="/home" class="navbar-brand d-flex justify-content-center align-items-center logo">
          <img  routerLink="/home" src="assets/images/navbar/logo.png" class="w-100" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="my navbar-nav me-auto mb-2 mb-lg-0 links d-flex justify-content-between align-items-center">
            <li class="nav-item" routerLinkActive="linkActive">
              <a class="nav-link " aria-current="page" routerLink="/home" (click)=" scrollToTop()">الرئيسية </a>
            </li>
            <li class="nav-item dropdown" routerLinkActive="linkActive">
              <a class="nav-link dropdown-toggle" role="button"  >
              من نحن
              </a>
              <ul class="mys dropdown-menu custom-dropdown text-end">
                <li><a class="dropdown-item" routerLink="/whoWeAre" (click)=" scrollToTop()"> من نحن  </a></li>
                <li><a class="dropdown-item" routerLink="/whoWeAre2" (click)=" scrollToTop()">  تاريخنا         </a></li>
                <li><a class="dropdown-item" routerLink="/whoWeAre3" (click)=" scrollToTop()"> فريق القيادة </a></li>
              </ul>
            </li>
            <li class="nav-item dropdown" routerLinkActive="linkActive">
              <a routerLink="/location" (click)=" scrollToTop()" class="nav-link " role="button" >
                خدمتنا
              </a>

            </li>
            <!-- <li class="nav-item" routerLinkActive="linkActive">
              <a class="nav-link" routerLink="/mediaCenter" (click)=" scrollToTop()">المركز الاعلامي</a>
            </li> -->
            <li class="nav-item dropdown" routerLinkActive="linkActive" >
              <a class="nav-link dropdown-toggle" role="button" >الامتياز التجاري</a>
              <ul class="mys dropdown-menu custom-dropdown text-end">
                <li><a class="dropdown-item" routerLink="/join-us" (click)=" scrollToTop()"> الحصول علي فرص استثمارية </a></li>
                <li><a class="dropdown-item" routerLink="/whoWeAre4" (click)=" scrollToTop()"> عرض فرصه استثمارية   </a></li>
              </ul>
            </li>


            <li class="nav-item" routerLinkActive="linkActive">
              <a class="nav-link" routerLink="app-golf" (click)=" scrollToTop()">تطبيق قلف </a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</nav>
<div class="navb-phones d-none">
  <app-navbar-mobile></app-navbar-mobile>
</div>
