h2
{
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 60px;
letter-spacing: -0.02em;
color: var(--main-text-color-blue);
}
.headingp2
{
    color: var(--main-text-color-orange);
}
.info
{
font-family: Inter;
font-size: 30px;
font-weight: 500;
line-height: 38px;
text-align: right;

}

.image
{
    height: 512px !important;
}


.section-padding
{
    padding: 64px;
    padding-top: 0px;
}
@media screen and (min-width:500px) and (max-width:750px) {

    p {
      font-size: 14px !important;
      width: 115% !important;
  }
}
