
h2
{
font-family: Inter;
font-size: 72px;
font-weight: 700;
line-height: 90px;
letter-spacing: -0.02em;
text-align: center;
color: var(--main-text-color-blue);

}
.iconic
{
    color: var( --main-text-color-orange);
}
.fantastic
{
    color: var(--main-text-color-baby-blue);
}

.info
{
font-family: Inter;
font-size: 30px;
font-weight: 500;
line-height: 38px;
text-align: right;
color: #101828;

}
.section-padding
{
    padding: 64px;
    padding-top: 0px;
    padding-bottom: 0px;
}
@media screen and (min-width:500px) and (max-width:750px) {

  p {
    font-size: 14px !important;
    width: 115% !important;
}
}
