<section class=" section-padding">
    <div class="container">
        <div class="row">
            <div>
                <h2>
                    قلف 
                    <span  class="iconic">
                        الأيقوني

                        <span class="fantastic">الرائع</span>
                    </span>
                </h2>


                <div>
                    <p class="info">
                        ويجسد شعار القرص البرتقالي الخليجي الشهير الذي يعود تاريخه إلى عام 1920 القيم التي بنيت عليها العلامة التجارية الخليجية. لقد ارتبط شعارنا دائمًا بالاعتمادية والأصالة. خلال عشرينيات القرن الماضي، كان الكثير من البنزين المباع في الولايات المتحدة بدون علامة تجارية وذات جودة مشكوك فيها. ومع ذلك، عندما اشترى العملاء منتجاتنا الخليجية، كانوا يعلمون أنهم سيحصلون على سلع عالية الجودة. ومنذ ذلك الحين لم يتغير شيء؛ لا يزال القرص البرتقالي رمزًا لتفانينا في تقديم منتجات من الدرجة الأولى.
                    </p>
                </div>
                <div class="">
                    <img src="assets/images/about1/about-section3/gulf-logos.png" class="w-100"/>

<div class="py-5">
    
    <div>
        <p class="info">
            على مر السنين، تم تحسين الشعار نفسه، لكن عناصره المرئية الأساسية والمعنى يظل كما هو. أصبحت ألوان هذه العلامات التجارية معروفة على الفور في عالم رياضة السيارات وأصبحت عنصرًا أساسيًا في ملابس أسلوب حياتنا.
        </p>
    </div>

    <div class="py-3">
        <p class="info">
            لقد زيّن قرصنا البرتقالي الشهير كل شيء بدءًا من سيارات السباق وحتى تغطية قناة NBC لبرنامج الفضاء الأمريكي وحتى أفلام هوليوود بحيويته. لقد زينت معصم ستيف ماكوين وتقف بكل فخر أينما تم عرض نمط حياتنا المختار بعناية وشراكاتنا الرياضية مع العلامات التجارية العالمية الأخرى، مثل ماكلارين وتاغ هوير.                        </p>
    </div>


    <div >
        <p class="info">
            واليوم، لا يزال شعارنا يمثل القيم التي وعدت بها علامتنا التجارية منذ البداية: الجودة والقدرة على التحمل والشغف. في كل مرحلة من تاريخ علامتنا التجارية، عندما يرى عملاؤنا شعارنا، يجب أن تتبادر إلى ذهنهم كلمة واحدة فقط؛ مبدع.                        </p>
    </div>
</div>
                </div>

            </div>
        </div>
    </div>
</section>