.spaceBetweensections
{
    margin-top: 64px;
}
.btn-More
{
    width: Fill (220px)px;
height: Hug (40px)px;
padding: 10px 16px 10px 16px;
gap: 8px;
border-radius: 42px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
background-color: var(--main-text-color-orange);
}
.team .my-container {
    /* box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1); */
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
  }
  .my-container .logo-2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    width: 100px;
    height: 100px;
  }
.carsouelImg
{
    width: 95% !important;
    height: 200px !important;
    border-radius: 5px;
}


.image-container
{
    width: 260px;
    height: 360px;
    gap: 10px;
    border-radius: 9px;
    position: relative;
}
.image
{
    width: 100% !important;
    height: 100% !important;
    border-radius: 9px;

}

.layer
{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layer a
{
    background-color: var(--main-text-color-orange);
    width: 220px;
    height: 40px;
    border-radius: 42PX;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;


}
h2
{
    font-family: Inter;
font-size: 72px;
font-weight: 700;
line-height: 90px;
letter-spacing: -0.02em;
text-align: center;
color: var(--main-text-color-blue);



}

.info
{
font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 28px;
text-align: center;
width: 40%;

}

@media screen and (min-width:375px)  and (max-width:667px) {
  .info
  {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  width: 90%;

  }
}

.headingp2
{
    color: var(--main-text-color-orange) !important ;
}



@media (max-width:767px) {
    .image-container {
        width: 100% !important;
        height: 360px;
        gap: 10px;
        border-radius: 9px;
        position: relative;
    }
}
