<section class="spaceBetweensections"  >
  <div class="container">
    <div class="team">
      <div class="my-container p-3">
        <img class="logo-2" src="assets/images/about-us4/61a0ec062b6c48e0f243a2f0e1025323.png" alt="image" />
        <div class="container">
          <div class="row">
              <div class="col-md-6 col-lg-4 editRes">
                  <div class="w-100 h-100">
                      <owl-carousel-o [options]="customOptions" class="carousel-2">
                        <ng-template carouselSlide >
                          <img  src="assets/images/home-section3/1e50864be4d00623cc5625d9919bb93c.png" class="image" alt="image"/>
                        </ng-template>
                        <ng-template carouselSlide>
                          <img  src="assets/images/home-section3/1e50864be4d00623cc5625d9919bb93c.png" class="image" alt="image"/>
                        </ng-template>
                        <ng-template carouselSlide>
                          <img  src="assets/images/home-section3/1e50864be4d00623cc5625d9919bb93c.png" class="image" alt="image"/>
                        </ng-template>
                        <ng-template carouselSlide>
                          <img  src="assets/images/home-section3/1e50864be4d00623cc5625d9919bb93c.png" class="image" alt="image"/>
                        </ng-template>

                      </owl-carousel-o>
                  </div>
              </div>
              <div class="col-md-6 col-lg-8 editRes">

                  <div class="py-4">
                      <h3>الشراكة مع</h3>
                      <h2> فريق ويليامز</h2>
                      <p>منذ عام 1901، كنا علامة تجارية معترف بها عالميًا يثق بها ملايين الأشخاص في جميع أنحاء العالم. لن يكون هذا الاتساق والنجاح الدائم ممكنًا بدون العلاقات التي بنيناها وحافظنا عليها على مر السنين.</p>
                      <a class="btn btn-more">
                          المزيد
                      </a>

                  </div>
              </div>

          </div>
      </div>
      </div>
    </div>

  </div>

</section>
