.logo
{
    width: 80px;
    height: 80px;
}

.text
{
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: right;
color: #fff;

}

.storesLogo
{
    width: 135px;
    height: 40px;
}

.icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: white;
}

.appName
{
    color: var(--main-text-color-orange) !important;
}
.bg-footer
{
    background-color: var(--main-text-color-blue);
    margin-top: 30px;
}

a
{
    text-decoration: none;
}

.test
{
    text-align: -webkit-center !important;

}
.section-width
{
    width: 98% ;
}
@media (max-width:1400px) {
    .editRes
    {
        width: 100% !important;
    }
}

@media (max-width:868px) {
   .fontSize
   {
    font-size: 12px !important;
   }
}

