<footer class="bg-footer">
    <div class="container p-5">
    <div>
        <div class="row justify-content-between">
            <div class="col-sm-8">
                <div class=" py-3   editRes">
                    <div class="d-flex align-items-center my-3">
                        <img src="assets/images/navbar/logo.png"  class="logo"/>
                        <span class="text px-4 fontSize">
                            صمم تجارب رقمية مذهلة تخلق المزيد من السعادة في العالم.
        
                        </span>
                    </div>
                        <div class="my-3 ">
                            <a class="text-white fontSize">سياسة الخصوصية</a>
                            <a class="text-white px-4 fontSize">سياسة الاستخدام</a>
        
                        </div>
                     
        
                    </div>
            </div>
           
<div class="col-sm-2">
    <div class="py-3 ">
        <span class="text-white ">ابقى معنا</span>

        <div class="">
            <div class="my-3 storesLogo">
            <img class="w-100 rounded" src="assets/images/footer/app-store.png"/>
            </div>
            <div class="storesLogo">
            <img class="w-100" src="assets/images/footer/play-store-logo-nisi-filters-australia-11.png"/>
            </div>
        </div>
    </div>
</div>
        </div>

     
        <div class="d-flex justify-content-between border-top my-3 section-width">
            <div class="w-75 my-3">
                <span class="text-white">جميع الحقوق محفوظة <span class="appName">قلف</span> ©</span>
            </div>

            <div class="icons my-3  w-25 d-flex justify-content-between column-reverse">
                <span class="icon">
                    <i class="fa-brands fa-x-twitter"></i>

                </span>
                <span class="icon">
                    <i class="fa-brands fa-linkedin"></i>
                </span>
                <span class="icon">
                    <i class="fa-brands fa-instagram"></i>
                </span>

                <span class="icon">

                    <i class="fa-brands fa-facebook"></i>
                </span>

                <span class="icon">

                    <i class="fa-brands fa-youtube"></i>
                </span>
            </div>
        </div>
    </div>

    </div>
</footer>