<section class="" data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="1500">
    <div class="container">
        <div class="team spaceBetweensections">
            <div class="my-container p-3 ">
              <img class="logo-2" src="assets/images/about-us4/61a0ec062b6c48e0f243a2f0e1025323.png" alt="image" />
              <div class="container">
                <div class="row gy-3 gx-1">
                    <div >
                        <h2>
                            {{'home.what' | translate}}

                        <span class="headingp2">  {{'home.wharnew' | translate}}</span>
                        </h2>
                      <div class="d-flex justify-content-center align-items-center">
                        <p class="info">
                          {{'home.wharnewlast' | translate}}
                        </p>

                      </div>
                    </div>

                    <div *ngFor="let item of dataPost" class="col-lg-4">
                        <div>
                            <div>
                                <img [src]="item?.image_path" class="image"  alt="image"/>
                            </div>

                            <div class="w-90  ">
                                <h6 class="d-flex justify-content-between   px-1 py-2">

                                  {{item?.title}}
                                </h6>

                                <span class=" text-center">
                                  {{item?.description}}
                                </span>
                            </div>
                        </div>
                    </div>



                    <div class="w-100 d-flex justify-content-center align-items-center">
                        <a class="btn btn-more ">{{'home.More' | translate}}</a>
                    </div>






                </div>
            </div>
            </div>
        </div>


        <div class="w-100 d-flex justify-content-between bg-section align-items-center  spaceBetweensections sectionBoxShadow">
            <div>
<div>
 <span> {{'home.More' | translate}}</span>
</div>

<div>
 <span>{{'home.More2' | translate}}</span>
</div>
            </div>

            <div>
             <a class="btn btn-stayInTouch "> {{'home.More3' | translate}} </a>
            </div>
         </div>
    </div>

</section>
