<div class="home bg-primary"></div>
<!------------------------------------------- team  -->
<div class="team mt-5 section-space">
  <div class="container my-3 py-3 my-container">
    <img class="logo-2" src="assets/images/about-us4/61a0ec062b6c48e0f243a2f0e1025323.png" alt="image" />
    <div class="container inner-container section-space ">
      <div class="row first w-100">
        <div class="col-md-12">
          <div class="text">
            <h1 class="">
              <span class="blue">فرص

                <span class="orange">استثمارية</span>
              </span>
            </h1>
          </div>
        </div>
      </div>

      <div class="products">
        <div *ngFor="let item of dataaAll" class="product p-2">
          <div class="img">
            <img [src]="item?.image_path" alt="" />
          </div>
          <div class="text">
            <h3>{{item?.price}}</h3>
            <h5>محطة الزهراء</h5>
            <p>
           {{item?.description}}

            </p>

            <button>
              <a href="">تواصل للشراء</a>
            </button>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
