
.mainheading
{
font-family: Inter;
font-size: 72px;
font-weight: 700;
line-height: 90px;
letter-spacing: -0.02em;
text-align: center;
color: var(--main-text-color-blue);

}

@media screen and (min-width:500px) and (max-width:750px) {

  p {
    font-size: 14px !important;
    width: 115% !important;
}
}
.iconic
{
    color: var( --main-text-color-orange);
}
.fantastic
{
    color: var(--main-text-color-baby-blue);
}

li
{
    list-style: outside;
    list-style-type: disc;
    padding-left: 0px !important;
    margin-left: 0px !important;
    direction: ltr;
    color: var(--main-text-color-baby-blue);
}
.discover
{
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 60px;
letter-spacing: -0.02em;
color: var(--main-text-color-blue);

}
.info
{
font-family: Inter;
font-size: 30px;
font-weight: 500;
line-height: 38px;
color: #101828;
}


li a
{
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 30px;
text-align: center;
color: var(--main-text-color-baby-blue);
}
.section-padding
{
    padding-top: 0px;
    padding-bottom: 0px;
}

@media screen and (max-width:767px)
{

    .test1
    {
        width: fit-content !important;
    }
    .test2
    {
        width: 100% !important;
    }

    img
    {
        height: 200px !important;
    }

    .info{
        font-family: Inter;
        font-size: 16px !important;
        font-weight: 500;
        line-height: 38px;
        text-align: right;
    }

}
