<div class="w-100 ">
    <img  src="assets/images/about1/about-section1/be162cfa071f241eaec499bb15fd59b2.png" class="w-100 image heightOfPic"/>
</div>
<div class="container section-space">
    <div class="team">
        <div class="my-container">
            <img class="logo-2" src="assets/images/about-us4/61a0ec062b6c48e0f243a2f0e1025323.png" alt="image" />
    <app-section1></app-section1>
      <app-section2></app-section2>
      <app-section3></app-section3>
      <app-section4></app-section4>
        </div>
    </div>
</div>



